@import "./variables.scss";

.dice{
  margin: 30px;
  padding: 5px;

  &:hover{
    margin: 25px;
    border: 5px solid $c-dice-hover;
  }

  &.held{
    margin: 25px;
    border: 5px solid $c-dice-hover;
  }

}

td{
  border: 1px solid black;

  &.score{
    
    &:hover{
      border: 1px solid $c-dice-hover;
    }
  }
}