@import "./variables.scss";

.dice{
  margin: 30px;
  padding: 5px;

  &:hover{
    margin: 25px;
    border: 5px solid $c-dice-hover;
  }

  &.held{
    margin: 25px;
    border: 5px solid $c-dice-hover;
  }

}


.button-container{
  width: 30%;
  margin: auto;
}


.table-container{
  width: 202px;
  margin: auto;
}


td{
  border: 1px solid black;
  cursor: default;

  &.score{
    color: #bdbdbd;

    &.filled{
      color: black;

      &:hover{
        border: 1px solid black;
      }
    }

    &.special{
      &:hover{
        color: #bdbdbd;
        border: 1px solid black;
      }
    }
    
    &:hover{
      border: 1px solid $c-dice-hover;
      color: black;
    }
  }
}